{% extends "blog/base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row" style="margin-left: 20px;">
            <div class="col-sm-4 col-sm-push-5">
                {% if user.profile.photo.name %}
                    <img src="{{ user.profile.photo.url }}" width="250px" height="250px" class="edge">
                {% else %}
                    <img src="/media/users/2022/05/29/user.png" width="250px" height="250px" class="edge">
                {% endif %}
                <br>
                <br>
                <div class="container" style="margin-left: 20px;">
                    <h3>{{ user.username }}</h3>
                </div>
                <br>
            </div>
            <div class="col-sm-8 col-sm-pull-5">
                <dl class="row">
                    <dt class="col-sm-3 text-right"></dt>
                    <dd class="col-sm-9"><a href="{% url 'user_edit' %}" class="btn btn-sm btn-info">Редактировать профиль</a></dd>
                    <br><br><br>
                    {% if user.profile.date_of_birth %}
                        <dt class="col-sm-3 text-right">Дата рождения</dt>
                        <dd class="col-sm-9">{{ user.profile.date_of_birth|date:"d M Y" }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}