{% extends "base.html" %}
{% load static %}
{% block title %}
    ShopApp
{% endblock %}
{% block content %}
    {% include "product/categories.html" %}
    <h5>Products: </h5>
        {% for product in products %}
            <div class="product_unit mb-md-5">
                <div class="container">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" name="{{product}}">
                    {% else %}
                        <img src="{% static 'img/no_image.png' %}">
                    {% endif %}
                </div>
                <a href="{% url 'product_detail' product.id product.slug%}">
                    <button class="product_unit_txt btn btn-outline-dark">
                        ${{ product.price }}
                    </button>
                </a>
            </div>
        {% endfor %}
    <div class="container pagination">
        {% include "pagination.html" with page=page_obj %}
    </div>
{% endblock %}